<a href="https://colab.research.google.com/github/ajitadhole/Basics-of-python-/blob/main/Assignment_1_Ajita_Dhole_9173.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name=("Ajita Dhole")
Roll_no=9173

Lists

In [ ]:

A=["Ajita Dhole",20,"Student"]
B=["SP College","Pune","Class=TYBSC"]
print(A)
print(B)

['Ajita Dhole', 20, 'Student']
['SP College', 'Pune', 'Class=TYBSC']

Tuples

In [ ]:
a=["Ajita Dhole",20,"Student"]
b=["SP College","Pune","Class=TYBSC"]
print(a)
print(b)

['Ajita Dhole', 20, 'Student']
['SP College', 'Pune', 'Class=TYBSC']

In [ ]:
print(A[0:4])
print(B[2:3])
print(a[2])
print(b[2])

['Ajita Dhole', 20, 'Student']
['Class=TYBSC']
Student
Class=TYBSC

In [ ]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
print(A)
A1=A.copy()
print(A1)

# Tupples cannot be copied

['Ajita Dhole', 20, 'Student']
['Ajita Dhole', 20, 'Student']

In [ ]:
print(B)
B.append("Autonomous")
print(B)

# Tupples cannot be changed

['SP College', 'Pune', 'Class=TYBSC', 'Autonomous']
['SP College', 'Pune', 'Class=TYBSC', 'Autonomous', 'Autonomous']

Count

In [ ]:
print(A.count("Ajita"))
A.append("Ajita")
print(A.count("Ajita"))

0
1

Sort

In [ ]:
K=["D","A","C","B"]
print(K)
K1=[4,2,1,3]
print(K1)
K.sort()
K1.sort()
print(K)
print(K1)

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [ ]:

print(K[:2])
print(K1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested list

In [ ]:
ABlist=["Ajita","SP COllege",[20,"Pune"]]
print(ABlist)
print(ABlist[2])

['Ajita', 'SP COllege', [20, 'Pune']]
[20, 'Pune']